.footer{
    display: flex;
    justify-content:space-evenly ;
    background-color: #f7ff00;
    margin-top: 60px;
    max-width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);

}

li{
    list-style: none;
}

.titulo-footer{
    font-size: 20px;
    font-weight: 700;
}

.ul-footer{
    display: flex;
}

.li-footer{
    display: flex;
    font-size: 30px;
    padding: 0 15px 0 15px;
    cursor: pointer;
    
}


/*Responsivo*/


@media screen and (max-width:820px) {

    li{
        font-size: 14px;
    }

    .titulo-footer{
        font-size: 20px;
        font-weight: 700;
    }
    
    .ul-footer{
        display: flex;
        padding: 0;
    }

 
    
    .li-footer{
        display: flex;
        font-size: 20px;
        
    }   
}

@media screen and (max-width:720px) {
    .footer{
        display: flex;
        flex-direction: column;
    }

    .container-footer{
        text-align: center;
    }

    .ul-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}